<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Debug SMS/USSD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>

    </style>
</head>
<body>
<div class="content">
    <div class="row" style="margin-top: 50px;">
        <div class="col-3">

        </div>
        <div class="col-6" style="position: relative;">
            <h3>Enter USSD command and send</h3>
            <input id="code"
                   value="*386*10000#"
                   placeholder="Enter USSD command"
                   type="text"
                   class="form-control"
                   aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-lg">
            <button class="btn btn-primary" style="margin-top: 8px" onclick="onSend()">Send</button>
            <p id="result" style="margin-top: 8px"></p>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

<script>
    function onSend() {
        const result = document.getElementById('result');
        const codeInput = document.getElementById('code');

        result.text = '';
        let value = codeInput.value;
        console.log('input', value);
        codeInput.value = '';

        if (value.indexOf('*386*') === -1) {
            alert('Please use code *386*AMOUNT# where AMOUNT is amount to fund');
            return;
        }

        value = value.replace('*386*', '').replace('#', '');

        if (value) {
            result.innerText = 'Loading...';

            fetch('/ussd-received', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    phone: 0,
                    type: 'fund',
                    amount: Number(value),
                    currency: 'KES'
                })
            })
                .then(data => data.text())
                .then(data => {
                    console.log(data);
                    result.innerText = `Server answer: ${data}`;
                });
        }
    }
</script>
</body>
</html>
